@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 27, 27, 27;
    --foregroup: 255, 255, 255;
    --muted: 115,115,115;
    --accent: 254, 254, 91;
  }
}

@layer utilities {
  .pause {
    animation-play-state: paused;
  }
}

@keyframes move {
  0%{
    transform: translate(0 , 0);
  }
  100%{
    transform: translate(100px , 100px);
  }
}

/* WebKit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 8px; /* Ширина скроллбара */
  height: 8px; /* Высота для горизонтального скролла */
}

::-webkit-scrollbar-track {
  background: #1e1e2e; /* Фон трека */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #ff9800; /* Цвет полосы */
  border-radius: 10px;
  border: 2px solid #1e1e2e; /* Граница между треком и ползунком */
}

::-webkit-scrollbar-thumb:hover {
  background: #ff5722; /* Цвет при наведении */
}

/* Firefox */
* {
  scrollbar-width: thin; /* "auto", "thin", "none" */
  scrollbar-color: #ff9800 #1e1e2e; /* thumb color и track color */
}

/* Internet Explorer & Edge */
body {
  -ms-overflow-style: none; /* Скрыть стандартный скроллбар */
}

body::-webkit-scrollbar {
  display: none; /* Для Safari */
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  background: rgba(255, 255, 255, 0.1) !important; /* Прозрачный фон */
  transition: background-color 5000s ease-in-out 0s; /* Отключаем резкое изменение */
  -webkit-text-fill-color: #a3a4aa !important;
  color: #a3a4aa !important; /* Оставляем цвет текста */
}

.sr-only{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}